@page
@model Index1Model
@{
    ViewData["Title"] = "Thank You";
}

<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <h1>Thank you. Your appointment has been scheduled.</h1>
    </div>
</div>
